.hero {
  background-size: cover;
  background-position: center;
  background-image: url("https://images.justwatch.com/backdrop/46790762/s1440/rockos-modern-life");
  position: relative;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
}

.hero h1 {
  font-size: 60px;
  padding-top: 40px;
  margin-top: 0;
}
